@page
@model ContactManager.Pages.Contacts.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <style>
        body{
            background-color: #E0E0E0;
        }
        .form-container {
            margin: 0 auto;
            max-width: 600px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
        .btn-primary {
            text-decoration: none;
            padding: 10px 20px;
            color: white;
            background-color: #007bff;
            border-radius: 3px;
        }

        .btn-secondary {
            text-decoration: none;
            padding: 10px 20px;
            color: white;
            background-color: #dc3545;
            border-radius: 3px;
        }
    </style>
</head>

<h2>Editar Contacto</h2>

<form method="post">
    <input type="hidden" asp-for="Contact.Id" />
    <div>
        <label>Nombre</label>
        <input asp-for="Contact.Name" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Contact.Email" type="email" />
    </div>
    <div>
        <label>Teléfono</label>
        <input asp-for="Contact.Phone" type="number" />
    </div>
    <button type="submit" class="btn-primary">Guardar</button>
    <a href="/Contacts" class="btn btn-secondary">Cancelar</a>
</form>
